 *{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 8px;
    margin: 0 5px;
}

body {
    font-family: montserrat;
}

nav {
    background: black;
    height: 80px;
}

.nav_menu {
    overflow: hidden;
}

.nav_menu {
    padding: 55px;
    animation: pulse 10s infinite;
}

.nav_menu a {
    float: left;
    display: block;
    color: rgb(255, 255, 255);
    list-style-type: circle;
    padding: 10px;
    text-decoration: none;
    margin: 20px;
}

.nav_menu a:hover {
    background-color: rgb(96, 1, 248);
    color: rgb(5, 255, 5);
}

.columnA,
.columnB,
.columnC {
    float: left;
    width: 30%;
    padding: 15px;
    text-align: justify;
}

h2 {
    color: white;
    text-align: center;
}

p {
    text-align: center;
    letter-spacing: normal;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

h1,
h2,
h3,
p {
    animation-duration: 3s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
        margin-top: 100%;
        width: 200%;
    }
    to {
        margin-bottom: 0%;
        width: 100%;
    }
}

h1 {
    text-shadow: 0 0 3em #2356ff;
    animation: glow 2.5s ease infinite;
    float: left;
    margin-top: 1em;
    margin-left: 1em;
}

@keyframes glow {
    0%,
    100% {
        text-shadow: 0 0 1em #38ff10, 0 0 3em #1041ff, 0 0 10em #1041ff, 0 0 10em #1041ff, 0 0 0.04em #1041ff;
        color: #000000;
    }
    50% {
        text-shadow: 0 0 0.5em #082180, 0 0 1.5em #082180, 0 0 5em #082180, 0 0 5em #082180, 0 0 0.02em #082180;
        color: #5c04ff;
    }
}
